<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <% if current_user.pending_friends.include?(user) || user.pending_friends.include?(current_user) %>
    <%= 'Pending Invitation'%>
  <% elsif current_user.friend?(user) || user.friend?(current_user) %>
    <%= 'Already friends'%>
  <%else%>
  <%= link_to 'Add Friend',
      friendships_path(friendship: { user_id: current_user, friend_id: user.id, confirmed: false }),
      method: :post, class: 'add-friend ' 
    %>
    <%end%>
</li>