<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <% @user.friends.each do |friend| %>
     <%= link_to friend.name, user_path(friend.id)  %>
    <% end %>

    <% if current_user.id == @user.id %>
      <h3>Pending invitations</h3>
      <% current_user.pending_friends.each do |friend| %>
        <%= link_to "To #{friend.name}", user_path(friend.id)  %>
      <% end %>
  
      <h3>Friend Requests</h3>
      <% current_user.friend_requests.each do |friend| %>
        <%= link_to "From #{friend.name}", user_path(friend.id)  %>
        <%= link_to 'Confirm', friendship_path(user_id: friend.id, friend_id: current_user.id), method: :patch %>
      <% end %>
    <% end %>
  </article>
</section>
